<div class="col-12 col-lg-6">
  <div class="card-product">
    <img src="<%= article[:photo] || 'https://unsplash.it/600?image=8'%>">
    <div class="card-product-infos">
      <a href="/articles/<%= article[:id] %>"><h2><%= article[:title] %></h2></a>
      <a href="/articles/<%= article[:id] %>" class="card-content-preview text-truncate"><%= article[:content] %></a>
    </div>
  </div>
</div>
