<div class="container">
  <div class="row">
    <div class="article-block col-xs-12 col-md-6">
      <h1 id="article-title" class="text-center"><%= @article[:title] %></h1>
      <div class="header-article" style="background-image: linear-gradient(rgba(255,255,255,0.15), rgba(255,255,255,0.3)), url(<%= @photo %>)">
      </div>
      <div class="text-center">
          <%= partial(:'_article_infos', {article: @article, lecture_time: @lecture_time}) %>
      </div>
      <div class="article-content">
        <%= @article[:content] %>
      </div>
    </div>

    <div class="article-comments col-xs-12 col-md-4 offset-md-1">
      <h2>Commentaires</h2>
      <% @comments.each do |comment| %>
        <%= partial(:'_comment', comment: comment) %>
      <% end %>
    </div>
  </div>
</div>
