  <div class="header-article" style="background-image: linear-gradient(rgba(255,255,255,0.15), rgba(255,255,255,0.3)), url(<%= @photo %>)">
    <h1><%= @article[:title] %></h1>
  </div>
  <div class="text-center">
    <p>Ecrit par : <span id="author"></span> - Temps de lecture : <%= @lecture_time %> sec</p>
  </div>
  <div class="article-content">
    <%= @article[:content] %>
  </div>

  <div class="article-comments">
    <h2>Commentaires</h2>
    <div class="container">
      <% @comments.each do |comment| %>
        <%= partial(:'_comment', comment: comment) %>
      <% end %>
    </div>
  </div>
  </ul>
